---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.roundbg {
    background: #f1f1f1;
    padding: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    }

.nav_active {
    background: #f1f1f1;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    }

    .container {
        width: 800px;
        position: relative;
      }
      .double-bar {
        &:after {
          content: "";
          border-bottom: 1px solid black;
          width: 100%;
          position: absolute;
          top: 9px;
          left: 0;
          z-index: 1;
        }
        
        &:before {
          content: "";
          border-bottom: 1px solid black;
          width: 100%;
          position: absolute;
          top: 13px;
          left: 0;
          z-index: 1;    
        }
        
        span {
          z-index: 2;
          position: relative;
          background-color: white;
          left: 40px;
          padding: 0 7.5px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 20px;
        }
      }