---
layout: archive
---
<span style="font-size: 75%;"><a href="https://erphub.github.io" style="text-decoration: none;">HOME</a> / <a href="/{{ page.categories[0] }}/" style="text-decoration: none;">{{ page.categories[0] }}</a> / <a href="/{{ page.categories[0] }}/{{ page.categories[1] }}/" style="text-decoration: none;">{{ page.categories[1] }}</a></span>
{% include page__meta.html type=include.type %}
{{ content }}
<!-- /_includes/related.html -->
<h3>Other posts in the category</h3>
{% for category in site.categories %}
    {% if category[0] == page.categories[0] %}
        {% assign parent_cat = category[0] %}
    {% endif %}
    {% if parent_cat == page.categories[0] and category[0] == page.categories[1] %}
        {% for post in category[1] %}
          {% if post.id != page.id %}  
            {% include archive-single-title.html type=page.entries_layout %}
          {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
